@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900");

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --btn-color: #42b52ea5;
  --bg-color: #141218;
}

.cyber-btn {
  position: relative;
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 28px;
  color: var(--text-color);
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 3px;
  z-index: 0;
  overflow: hidden;
  text-decoration: none;
}

.cyber-btn:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after,
.cyber-btn::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 30px 30px;
  pointer-events: none;
}

.cyber-btn::after {
  font-weight: 200;
  top: -20px;
  left: -15px;
}

.right,
.left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.right {
  left: 66%;
}

.left {
  right: 66%;
}

.right::after {
  top: -20px;
  left: calc(-66% - 15px);
  background-color: var(--bg-color);
  color: transparent;
  transition: transform 0.4s ease-out;
  transform: translate(0, -90%) rotate(0deg);
}

.cyber-btn:hover .right::after {
  transform: translate(0, -47%) rotate(0deg);
}

.cyber-btn .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg);
}

.cyber-btn .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg);
}

.cyber-btn::before {
  content: "";
  pointer-events: none;
  opacity: 0.6;
  background: radial-gradient(
      circle at 20% 35%,
      transparent 0,
      transparent 2px,
      var(--text-color) 3px,
      var(--text-color) 4px,
      transparent 4px
    ),
    radial-gradient(
      circle at 75% 44%,
      transparent 0,
      transparent 2px,
      var(--text-color) 3px,
      var(--text-color) 4px,
      transparent 4px
    ),
    radial-gradient(
      circle at 46% 52%,
      transparent 0,
      transparent 4px,
      var(--text-color) 5px,
      var(--text-color) 6px,
      transparent 6px
    );

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
