body, html {
  margin: 0;
  padding: 0;
  /* //height: 100%; */
  height: 100vh;
  overflow: hidden;
  font-family: 'Courier New', monospace;
  background-color: black;
  color: #00ff00;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  /* transform: translateY(-50%);*/
  backdrop-filter: blur(2px);
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

button {
  background-color: transparent;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 10px 20px;
  cursor: pointer;
}